<!DOCTYPE html>
<html>
<head>
<title>Meditation</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="assets/style.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
   <div id="background" :style="{filter: 'grayscale(' + grayscale +'%) brightness(' + brightness + '%)'}"></div>
   <div id="progress" v-if="progress < 100" :style="{ width: progress + '%' }"></div>
   <div id="med" :style="{ 'animation-name': (meditate ? 'medfx2' : 'medfx1') }">
      Je veux méditer pour
      <input type="number" min="5" max="180" step="5" v-model="minutes" ref="minutes" size="3" v-on:keyup.enter="startMeditation()"> 
      minutes.
      <button @click="startMeditation()">Commencer</button>
   </div>
</div>
<script src="assets/script.js"></script>
</body>
</html> 
