@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
body {
   font-family: 'MuseoModerno', cursive;
   user-select: none;
   margin: 0;
}
#background {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   transition-duration: 1s;
}
@keyframes medfx1 {
   from {
      top: -50px; /* la moitie du height car on fait un translate de -50% */
   }
   to {
      top: 50%;
   }
}
@keyframes medfx2 {
   from {
      top: 50%;
   }
   to {
      top: calc(100% + 50px); /* toute la page + la moitie de son height. */
   }
}
#med {
   /* Afficher le contenu au milieu */
   display: flex;
   /* Afficher ce div au milieu de la page */
   position: fixed;
   left: 50%;
   transform: translate(-50%, -50%);
   /* Taille du div */
   width: 400px;
   height: 100px;
   /* Border */
   border: 1px solid;
   border-radius: 20px;
   box-sizing: border-box;
   /* Couleur de fond */
   background-color: rgba(0,0,0,0.7);
   /* Animation: quand ca bouge de haut en bas */
   animation-duration: 2s;
   animation-fill-mode: forwards; /* Ca garde le div à la position finale de l'animation */
}
#med>div {
   margin: auto;
   text-align: center;
}
#med,#med>div>* {
   transition-duration: 600ms;
}
#progress { /* La bare de progres, son width change dynamiquement */
   transition-duration: 3s;
   position: fixed;
   height: 12px;
   bottom: 0;
}
input,button,select {
   font-family: 'MuseoModerno', cursive;
   text-align: center;
   background-color: rgba(0,0,0,0);
   outline: none;
   border: 1px solid;
}
select {
   padding: 0px 5px;
}
